<div id="ft_container">
<div style="width:30%;vertical-align:middle; text-align:center""><img src="images/footer/ut_logo.jpg" alt="UT Logo" style="width:auto;max-width:100%" /></div>
<div style="width:30%;vertical-align:middle; text-align:center""><img src="images/footer/ices_logo.png" alt="ICES Logo" style="width:auto;max-width:100%" /></div>
<div style="width:30%;vertical-align:middle; text-align:center""><img src="images/footer/ccgo_logo.png" alt="CCGO Logo" style="width:auto;max-width:100%" /></div>
</div>
